<div class="d-flex content-layout">

    <app-sidebar class="col-12 col-sm-12  col-md-6 col-lg-3"></app-sidebar>
    <app-body-portfolio class="col-12 col-sm-12 col-md-6 col-lg-9"></app-body-portfolio>
    <app-menu></app-menu>

    <div class="img-perfil">
        <img src="assets/img/wilsonvasquez.jpg" class="circular--square" />
        <!-- <img src="assets/gif/Spinner-2.9s-194px.gif" class="circular--square img-gif" /> -->
        <img src="assets/svg/Spinner-2.9s-194px.svg" class="circular--square img-gif" />
    </div>
</div>
