<div class="wrapper">
    <div class="info-perfil">
        <div class="pre-title animate__animated animate__bounceInLeft animation-1">Hola mi nombre es
        </div>
        <h1 #titleName class="title animate__animated animate__bounceInLeft animation-2">    
            <ngtypewriter [StringList]='list' [speed]='1000' class="write-title"></ngtypewriter>
        </h1>
        <h2 class="sub-title animate__animated animate__bounceInLeft animation-3">Soy desarrollador Web</h2>
        <p class="description animate__animated animate__bounceInLeft animation-4">Developer, especializado
             en aplicaciones web. tengo una experiencia de mas de 
             5 años desarrollando aplicaciones 
            web tanto de lado del backend como del frontend
        </p>
            
    </div> 
    <div class="button-search">
        <button  class="button-portfolio">SOBRE MI</button>
        <button  class="button-portfolio">EDUCACION</button>
        <button  class="button-portfolio">SKILLS</button>
        <button  class="button-portfolio">PORTAFOLIO</button>
        <button  class="button-portfolio">CONTACTO</button>
    </div>
    <div class="info-red-social">
        <a  href="https://github.com/" target="_blank">
            <fa-icon [icon]="['fab', 'github-square']"></fa-icon>
        </a>
        <a href="https://github.com/" target="_blank">
            <fa-icon [icon]="['fab', 'instagram-square']"></fa-icon>
        </a>
        <a href="https://github.com/" target="_blank">
            <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
        </a>
    </div>

</div>
