<div class="wrapper animate__animated animate__fadeInDown ">
    <div class="section-logo ">
        <i class="uil uil-bag"></i>
        <span class="title-logo">Mi Portafolio</span>
    </div>
    <div class="section-menu animate__animated animate__bounce animation-4">
        <ul class="list-menu">
            <li class="item-menu" *ngFor="let link of [1,2,3]">
                <span class="link-menu animate__animated animate__rubberBand animation-1">Link de referencia</span>
            </li>
        </ul>
    </div>
</div>